[submodule "dss-ansible"]
	path = dss-ansible
	url = https://github.com/OpenMPDK/dss-ansible
[submodule "dss-ecosystem"]
	path = dss-ecosystem
	url = https://github.com/OpenMPDK/dss-ecosystem
[submodule "dss-minio"]
	path = dss-minio
	url = https://github.com/OpenMPDK/dss-minio
[submodule "dss-sdk"]
	path = dss-sdk
	url = https://github.com/OpenMPDK/dss-sdk
